@font-face {
  font-family: 'yahei';
  src: url('yahei-100.ttc') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'yahei';
  src: url('yahei-400.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'yahei';
  src: url('yahei-700.ttc') format('truetype');
  font-weight: 700;
}
